* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
}
